*.swp
*.o

libsdm.a
libsdm.so
_libsdm.so

build/
dist/

venv/

docs/_build/

src/test_address_space
src/test_bitstring
src/test_counter
src/test_scanner
src/test_scanner_thread
src/test_scanner_opencl
src/test_performance_scanners
